$tf/
.vs/
bin/
**/obj/
.suo
**/EnvironmentPortal/packages
**/wip/devops_v1/packages
**/*.map
**/ts/**/*.js
**/ts/**/*.map
**/*.user
**/Scripts/Common/**/*.js
**/Scripts/Common/**/*.map
**/Scripts/Shared/**/*.js
**/Scripts/Shared/**/*.map
**/*.ncrunchproject
**/*.ncrunchsolution
**/*.crunchsolution.cache
**/*.zip
**/node_modules
**/typings
**/packages
collectd/
*.zip