<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section
      name="performanceCounters"
      type="collectdSrv.Configuration.PerfCounterConfigurationSection, collectdSrv" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <appSettings>
    <add key="loggerRestBaseUrl" value="http://your.receiver.interface/collectd/post"/>
  </appSettings>

  <performanceCounters>
    <Counters>
      <add name="Web Service"
           counterName="Bytes Received/sec,Bytes Sent/sec,Connection Attempts/sec,Current Connections,Current Blocked Async I/O Requests,Current Connections,Total Options Requests,Total Put Requests,Total Post Requests,Total Get Requests,Total Delete Requests"/>
      <add name="Processor"
          counterName="% Processor Time,% User Time,% Privileged Time,Interrupts/sec,% DPC Time,% Interrupt Time,% Idle Time,% C1 Time"/>
      <add name="Memory"
          counterName="Page Faults/sec,Available Bytes,Committed Bytes"/>
      <add name="PhysicalDisk"
           counterName="Current Disk Queue Length,% Disk Time,Avg. Disk Queue Length,% Disk Read Time,Avg. Disk Read Queue,% Disk Write Time,Avg. Disk Write Queue"/>
      <add name="Process"
           counterName="Private Bytes,Virtual Bytes,Thread Count,% Processor Time,IO Write Operations/sec,IO Write Bytes/sec"
           instanceName="ServiceX,ServiceY,ServiceZ"/>
    </Counters>
  </performanceCounters>
</configuration>